@import "base.css";
/* header */
header{background-image:url("../img/bg.jpg"); width:100%; min-height:100%;
position:relative; background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:fixed; z-index:99999; overflow:hidden;}
.nav_mo #bar{position:absolute; right:3%; top:20px; color:#ccc;
font-size:1.5rem; }
.h_logo{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:20%;
max-width:370px;}
.nav_bg{width:100%; height:90px; background-color:#232a30; position:absolute;
top:0; display:none;}
.nav_bg .lnbs{font-family:seoul-namsan-jang-eb; font-size:1rem;font-weight:bold;}
.nav_bg .logo{width:15%;}
.nav_bg .logo>a>img{width:100%; max-width:100px;}
.nav_bg .logo_on{display:none; width:15%;}
.nav_bg .logo_on>a>img{width:100%; max-width:100px;}
.nav_bg .lnb{width:65%; position:relative;}
.nav_bg .lnb>li{float:left; width:20%; text-align:center; line-height:90px; position:relative; }
.nav_bg .lnb>li .lnb_down{line-height:1rem;}
.nav_bg .lnb>li>a{position:relative; z-index:2; color:#fff;}
.nav_bg .lnb>li:first-child:hover>a{color:#fff !important;}
.nav_bg .lnb>li:nth-child(2):hover>a,
.nav_bg .lnb>li:nth-child(3):hover>a,
.nav_bg .lnb>li:nth-child(4):hover>a{color:#f30 !important;}

.nav_bg .lnb>li:last-child:hover>a{color:#fff !important;}
.nav_bg .lnb_bt{width:100%;height:80px; background-color:#ad3536;
border-radius:0 0 10px 10px; position:absolute; display:none;}
.nav_bg .lnb_down{background-color:#fff; border-radius:0 0 10px 10px; display:none;}
.nav_bg .lnb_down>li>a{padding-bottom:1rem; display:block;}
/* gnb */
.nav_bg .gnb{width:20%; font-weight:normal; font-size:0.875rem;
color:rgba(255,255,255,0.7)}
.nav_bg .gnb>li{float:left;}

.lnbs{font-family:seoul-namsan-jang-eb; font-size:1rem;font-weight:bold;}


.nav_mo {width:100%; background-color:#232a30; position:absolute; top:0; left:0; z-index:99999;}
.nav_mo .fa-times {display:none; position:relative;}
.nav_mo .logo{}
.nav_mo .logo>a{display:inline-block;  padding:1rem 0;}
.nav_mo .logo>a>img{max-width:60px;}
.nav_mo .img_logo {display:block;}
.nav_mo .img_logo_on {display:none;}
.nav_mo .lnb{width:100%; display:none;}
.nav_mo .lnb>li{float:none; width:100%; text-align:center; line-height:4rem }
.nav_mo .lnb>li .lnb_down{line-height:1rem;}
.nav_mo .lnb_bt{width:100%;height:4.28rem; background-color:#ad3536;
border-radius:0 0 10px 10px; position:absolute; display:none;}
.nav_mo .gnb{width:auto; position:absolute; top:1%; right:3%; color:#fff; }



.nav_mo .lnb>li:last-child:hover>a{color:#fff !important;}
.nav_mo .lnb_bt{width:100%;height:80px; background-color:#ad3536;
border-radius:0 0 10px 10px; position:absolute; display:none;}
.nav_mo .lnb_down{background-color:#fff; border-radius:0 0 10px 10px; display:none;}
.nav_mo .lnb_down>li>a{padding-bottom:1rem; display:block;}
/* gnb */
.nav_mo .gnb{width:20%; font-weight:normal; font-size:0.875rem;
color:rgba(255,255,255,0.7)}
.nav_mo .gnb>li{float:left;}

.h_order{position:absolute; bottom:-255px; right:20%; background-color:#ad3536;
border-radius:10% 10% 0 0; padding:1.6% 1%; color:#fff; text-align:center;
}

.h_order h5{font-family: seoul-namsan-jang-b !important; font-size:1.2rem; margin-bottom:2rem;}
.h_order input, .h_order select{width:60%; border:2px solid #fff; outline:none;
background-color:#ad3536; font-size:0.875rem; color:#fff; padding:0.5rem 1rem;
margin-bottom:0.75rem;}
#submit{margin-bottom:0; background-color:#fff; color:#ad3536; font-weight:bold;
font-family:seoul-namsan-jang-eb !important; }

#about{background-color:#1f282b; position:relative; z-index:1; color:#fff;
 font-size:1.25rem; padding-top:5rem;}
 #about_bg{background-color:#f0efef;}
 #about>.div{position:relative;}
 #about ul:nth-of-type(1)>.ab_txt,
 #about ul:nth-of-type(3)>.ab_txt{padding-left:2.1875rem;}
#about ul:nth-of-type(2)>.ab_txt{text-align:right; padding-right:2.1875rem;}
.ab_cont{position:relative;}
.ab_cont>.ab_img{padding:0;}
.img_ab{position:absolute; left:0; top:0;}
.ab_img>.ab_img_t{font-size:2rem; position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%); font-weight:500; display:none;}
.ab_txt>.table{display:table; width:100%; height:100%;}
.ab_txt>.table>.table_c{display:table-cell; vertical-align: middle;}
.ab_txt_ani{letter-spacing:-0.13rem; margin-top:-2em;
animation:ab_txt_ani ease-in 1.5s forwards}
@keyframes ab_txt_ani{
    0%{opacity:0;}
    100%{opacity:1; margin-top:0;}}
.ab_cont>.ab_txt p>span{display:block;} 
 
#dot{opacity:0.1; position:absolute; top:0; max-width:1363px; width:90%; }
.dot {
    stroke-dasharray:5;
  animation: dot 2s linear forwards;
  }
  @keyframes dot {
  
    to {
      stroke-dashoffset: 1000;
    }
  }

.ab_food{position:absolute; right:5%; bottom:-17%; width:25%;
     animation:food_ani 1s ease-in infinite forwards;}

@keyframes food_ani{
    0%{bottom:-18%;}
    50%{bottom:-17%;}
    100%{bottom:-18%}
}
/* banner */
#banner{padding:2rem 0; background-color:#f0efef; }
#banner>.row>div{padding:0;}
.ban_l{background-color:#000;}
.react{display:none;}
.ban_r_t, .ban_r_b{background-color:#000;}
/* ban 공통 */
.ban{position:relative;  }
.ban>img{opacity:0.7; transition:0.7s;-webkit-transition:0.7; -moz-transition:0.7s; -o-transition:0.7s;}
.ban:hover>img{opacity:1;}
.ban_txt{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center;
    color:#fff;}
.ban_txt>h2{font-weight:500; font-size:3rem;}
.ban_txt>p{font-size:0.875rem;}
@media (max-width:1280px){
html, body{font-size:14px;}
.h_logo{display:none;}  
.h_order{bottom:0; width:25%; height:calc(100% - 90px); background-color:rgba(173,53,54,0.8);
border-radius:0; padding:3% 1%;}
.h_order input, .h_order select{background-color:rgba(173,53,54,0.5);}
.ban_txt>h2{font-weight:500; font-size:2.1rem;}
}
@media (max-width:960px){
    header{ background-attachment:scroll }
    .nav_bg {width:100%; height:auto; background-color:transparent;z-index:99; display:none;}
    .h_order{position:static; width:100%; height:auto; background-color:#ad3536;}
    .ab_food{bottom:10%; width:35%;}
    .ban_txt>h2{font-weight:500; font-size:2.5rem;}
    .nav_mo {background-color:transparent; };
    .nav_mo .gnb>li>a {color:#fff};
}
@media (max-width:768px){
    .ab_txt{font-size:1rem;}
    .ab_food{right:5%;top:90%; width:30%;}
    .wide{display:none;}
    .react{display:block;}
  
}
@media (max-width:575px){
     .ab_img{width:80%; margin:0 auto;}
     #about ul:nth-of-type(1)>.ab_txt,
     #about ul:nth-of-type(3)>.ab_txt,
     #about ul:nth-of-type(2)>.ab_txt{text-align:center;}   
     .ab_txt{font-size:1.2rem;} 
     .ab_food{right:1.3%;top:98.5%; width:30%;}
}
@media screen and(max-width:480px){
    .ab_cont>.ab_txt p>span{display:inline;} 
}
