@import "base.css";
/* header */
header{background-image:url("../img/bg.jpg"); width:100%; height:100%;
position:relative; background-size:cover;background-repeat:no-repeat; background-attachment:fixed; overflow:hidden;}
.h_logo{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:20%;
max-width:370px;}
.nav_bg{width:100%; height:90px; background-color:#232a30; position:absolute;
top:0; }
.lnbs{font-family:seoul-namsan-jang-eb; font-size:1rem;font-weight:bold;}
.logo{width:15%;}
.logo_on{display:none; width:15%;}
.lnb{width:65%; position:relative;}
.lnb>li{float:left; width:20%; text-align:center; line-height:90px; position:relative; }
.lnb>li .lnb_down{line-height:1rem;}
.lnb>li>a{position:relative; z-index:2; color:#fff;}
.lnb>li:first-child:hover>a{color:#fff !important;}
.lnb>li:nth-child(2):hover>a,
.lnb>li:nth-child(3):hover>a,
.lnb>li:nth-child(4):hover>a{color:#f30 !important;}

.lnb>li:last-child:hover>a{color:#fff !important;}
.lnb_bt{width:100%;height:80px; background-color:#ad3536;
border-radius:0 0 10px 10px; position:absolute; display:none;}
.lnb_down{background-color:#fff; border-radius:0 0 10px 10px; display:none;}
.lnb_down>li>a{padding-bottom:1rem; display:block;}
/* gnb */
.gnb{width:20%; font-weight:normal; font-size:0.875rem;
color:rgba(255,255,255,0.7)}
.gnb>li{float:left;}

.h_order{position:absolute; bottom:-255px; right:20%; background-color:#ad3536;
border-radius:10% 10% 0 0; padding:1.6% 1%; color:#fff; text-align:center;
}

.h_order h5{font-family: seoul-namsan-jang-b !important; font-size:1.2rem; margin-bottom:2rem;}
.h_order input, .h_order select{width:60%; border:2px solid #fff; outline:none;
background-color:#ad3536; font-size:0.875rem; color:#fff; padding:0.5rem 1rem;
margin-bottom:0.75rem;}
#submit{margin-bottom:0; background-color:#fff; color:#ad3536; font-weight:bold;
font-family:seoul-namsan-jang-eb !important; }

#about{background-color:#1f282b; position:relative; z-index:1; color:#fff;
 font-size:1.25rem; padding-top:5rem;}
 #about>.div{position:relative;}
 #about ul:nth-of-type(1)>.ab_txt,
 #about ul:nth-of-type(3)>.ab_txt{padding-left:2.1875rem;}
#about ul:nth-of-type(2)>.ab_txt{text-align:right; padding-right:2.1875rem;}
.ab_cont{position:relative;}
.ab_cont>.ab_img{padding:0;}
.ab_cont>.ab_img>.img_ab{position:absolute; left:0; top:0;}
.ab_img>.ab_img_t{font-size:2rem; position:absolute; left:50%; top:50%;
    transform:translate(-50%,-60%); font-weight:500; display:none;}
.ab_txt>.table{display:table; width:100%; height:100%;}
.ab_txt>.table>.table_c{display:table-cell; vertical-align: middle;}
.ab_cont>.ab_txt p{letter-spacing:-0.13rem; margin-top:-2em;
animation:ab_txt_ani ease-in 1.5s forwards}
@keyframes ab_txt_ani{
    0%{opacity:0;}
    100%{opacity:1; margin-top:0;}}
.ab_cont>.ab_txt p>span{display:block;} 
 
#dot{opacity:0.1; position:absolute; top:0; max-width:1363px; width:90%; }
.dot {
    stroke-dasharray:5;
  animation: dot 2s linear forwards;
  }
  @keyframes dot {
  
    to {
      stroke-dashoffset: 1000;
    }
  }

.ab_food{position:absolute; right:5%; bottom:-17%; width:25%;
     animation:food_ani 1s ease-in infinite forwards;}

@keyframes food_ani{
    0%{bottom:-18%;}
    50%{bottom:-17%;}
    100%{bottom:-18%}
}

@media screen and(max-width:1280px){
    html, body{font-size:14px;}
}
@media screen and(max-width:960px){
   
}
@media screen and(max-width:768px){
    
}
@media screen and(max-width:480px){
    
}