@import "base.css";
html, body{overflow-x:hidden;}
/* header */
header{background-image:url("../img/bg.jpg"); width:100%; min-height:100%;
position:relative; background-size:cover; background-position:center; background-repeat:no-repeat; background-attachment:fixed; z-index:99; }
.lnbs{font-family:seoul-namsan-jang-eb; font-size:1rem;font-weight:bold;}
.h_logo{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:20%;
max-width:370px;}

/* navigation 데스크탑 */
.nav_desk{width:100%; height:90px; background-color:#232a30; position:absolute;
top:0; display:block;}
.nav_desk .lnbs{font-family:seoul-namsan-jang-eb; font-size:1rem;font-weight:500;}
.nav_desk .logo{width:15%;}
.nav_desk .img_logo, .nav_desk .img_logo_on{width:100%; max-width:
    90px; margin-top:10px;}
.nav_desk .img_logo_on{display:none;}
.nav_desk .lnb{width:65%; position:relative;}
.nav_desk .lnb>li{float:left; width:20%; text-align:center; line-height:90px; position:relative; }
.nav_desk .lnb>li .lnb_down{line-height:1rem;}
.nav_desk .lnb>li>a{position:relative; z-index:2; color:#fff;}
.nav_desk .lnb>li:first-child:hover>a{color:#fff !important;}
.nav_desk .lnb>li:nth-child(2):hover>a,
.nav_desk .lnb>li:nth-child(3):hover>a,
.nav_desk .lnb>li:nth-child(4):hover>a{color:#f30 !important;}

.nav_desk .lnb>li:last-child:hover>a{color:#fff !important;}
.nav_desk .lnb_bt{width:100%;height:80px; background-color:#ad3536;
border-radius:0 0 10px 10px; position:absolute; display:none;}
.nav_desk .lnb_down{background-color:#fff; border-radius:0 0 10px 10px; display:none;}
.nav_desk .lnb_down>li>a{padding-bottom:1rem; display:block;}
/* gnb */
.nav_desk .gnb{width:20%; font-weight:normal; font-size:0.8rem;
color:rgba(255,255,255,0.7)}
.nav_desk .gnb>li{float:left;}

/* 네비게이션 모바일 */
.nav_mo {width:100%; background-color:#232a30; position:relative;  top:0; left:0; z-index:99999; display:none;}
.nav_mo #bar{position:absolute; right:3%; top:20px; color:#ccc;
    font-size:1.5rem; }
.nav_mo .fa-times {display:none; position:relative;}
.nav_mo .logo>a{display:inline-block;  padding:1rem 0;}
.nav_mo .logo>a>img{max-width:60px;}
.nav_mo .img_logo {display:block;}
.nav_mo .img_logo_on {display:none;}
.nav_mo .lnb{width:100%; display:none;}
.nav_mo .lnb>li{float:none; width:100%; text-align:center; line-height:4rem }
.nav_mo .lnb>li .lnb_down{line-height:1rem; border-top:1px solid #ccc;}
.nav_mo .lnb>li>a{position:relative; z-index:2; color:#fff;}
.nav_mo .lnb>li:first-child:hover>a{color:#ad3536 !important;}
.nav_mo .lnb>li:nth-child(2):hover>a,
.nav_mo .lnb>li:nth-child(3):hover>a,
.nav_mo .lnb>li:nth-child(4):hover>a{color:#f30 !important;}
.nav_mo .lnb>li:nth-child(5):hover>a{color:#ad3536 !important;}
.nav_mo .gnb{width:auto; position:absolute; top:1%; right:3%; color:#fff; }
.nav_mo .lnb_down{background-color:#fff; border-radius:0 0 10px 10px; display:none;}
.nav_mo .lnb_down>li>a{padding-bottom:1rem; display:block;}

/* book a table */
.h_order{position:absolute; bottom:-255px; right:20%; background-color:#ad3536;
border-radius:10% 10% 0 0; padding:1.6% 1%; color:#fff; text-align:center; z-index:999;}
.h_order h5{font-family: seoul-namsan-jang-b !important; font-size:1.2rem; margin-bottom:2rem;}
.h_order input, .h_order select{width:60%; border:2px solid #fff; outline:none;
background-color:#ad3536; font-size:0.875rem; color:#fff; padding:0.5rem 1rem;
margin-bottom:0.75rem;}
#submit{margin-bottom:0; background-color:#fff; color:#ad3536; font-weight:bold;
font-family:seoul-namsan-jang-eb !important; }

/* about */
#about{background-color:#1f282b; position:relative; z-index:999; color:#fff;
 font-size:1.25rem; padding-top:5rem;}
 #about_bg{background-color:#f0efef;}
 #about>.div{position:relative;}
 #about ul:nth-of-type(1)>.ab_txt,
 #about ul:nth-of-type(3)>.ab_txt{padding-left:2.1875rem;}
#about ul:nth-of-type(2)>.ab_txt{text-align:right; padding-right:2.1875rem;}
.ab_cont{position:relative;}
.ab_cont>.ab_img{padding:0;}
.img_ab{position:absolute; left:0; top:0;}
.ab_img>.ab_img_t{font-size:2rem; position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%); font-weight:500; display:none;}
.ab_txt>.table{display:table; width:100%; height:100%;}
.ab_txt>.table>.table_c{display:table-cell; vertical-align: middle;}
.ab_txt_ani{letter-spacing:-0.1rem; margin-top:-2em;
animation:ab_txt_ani ease-in 1.5s forwards}
@keyframes ab_txt_ani{
    0%{opacity:0;}
    100%{opacity:1; margin-top:0;}}
.ab_cont>.ab_txt p>span{display:block;} 
#dot{opacity:0.1; position:absolute; top:0; max-width:1363px; width:90%; }
.dot {
    stroke-dasharray:5;
  animation: dot 2s linear forwards;
  }
  @keyframes dot {
  
    to {
      stroke-dashoffset: 1000;
    }
  }

.ab_food{position:absolute; right:5%; bottom:-17%; width:25%;
     animation:food_ani 1s ease-in infinite forwards;}

@keyframes food_ani{
    0%{bottom:-18%;}
    50%{bottom:-17%;}
    100%{bottom:-18%}
}
/* banner */
#banner{padding:2rem 0 0; background-color:#f0efef; }
#banner>.row>div{padding:0;}
.ban_l{background-color:#000;}
.react{display:none;}
.ban_r_t, .ban_r_b{background-color:#000;}
/* ban 공통 */
.ban{position:relative;  }
.ban>img{opacity:0.7; transition:0.7s;-webkit-transition:0.7; -moz-transition:0.7s; -o-transition:0.7s;}
.ban:hover>img{opacity:1;}
.ban_txt{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center;
    color:#fff;}
.ban_txt>h2{font-weight:500; font-size:3rem;}
.ban_txt>p{font-size:0.875rem;}
/* event */
#event{background-color:#ececec; position:relative; 
 }
#event>.container{padding:3rem 0;}
.evt_food{position:absolute; top:-4%; right:-10%; width:26%;
    animation:food_ani2 1s ease-in infinite forwards;}
#event .row{background-color:rgba(255,255,255,0.3);padding:0 10px 15px;}

.evt_tit{padding:0;}
.evt_tit>h3{font-size:2.2rem; color:#fff; background-color:#1f282b;
display:inline-block;font-weight:500; padding:0.3rem 1rem 0.3rem 3.5rem;
margin-left:-10px; margin-bottom:1rem;}
.evt{padding-right:5px; padding-left:5px;}
.evt_btn>button{float:right; border:none;  margin-bottom:1rem;
    outline:none; padding:0.5rem 0; border-radius:20px; font-size:0.9rem;
width:130px; text-align:center; background-color:#fff; color:#1f282b;}
.evt_review{ margin-left:10px;}
.evt_img{background-color:#1f282b; border:7px solid #1f282b;}
.evt_txt{font-size:0.875rem; border:15px solid #1f282b; 
    border-top:5px;background-color:#1f282b; text-align:center;
color:#fff;}
.evt_txt>p:first-child{text-align:left;}
.evt_txt>p:nth-child(2){text-align:left;color:#ccc; font-size:0.75rem;
margin-bottom:1rem;}
.evt_txt>.e_btn{outline:none;border:none;background-color:#fff; color:#1f282b;
padding:0.4rem 0.9rem; border-radius:12px; font-weight:500}

/* material */
#material{padding:0 0 2rem; background-color:#fff;}
.material{margin:0 auto; width:960px; }
.mate_tit{width:60%; position:relative; margin:2.5rem auto;}
.mate_tit>p{font-family: 'Nanum Pen Script', cursive; font-size:2rem; width:100%;color:#fff;
position:absolute; top:50%; left:50%; transform:translate(-24%,-24%)}
.materials{width:960px; margin: 0 auto; position:relative; overflow:hidden;
height:300px;}
.mate_txt{background-color:#d8d8d8; color:#494949;
padding:0.5rem 1.5rem; border-left:5px solid #ad3536; display:inline-block; }
.materials>ul{width:1344px; position:absolute;}
.materials>ul>li{float:left;}

#bt_prev{font-size:3rem; color:#eaeaea; position:absolute; top:50%;left:0;
transform:translateY(-50%)}
#bt_next{font-size:3rem; color:#eaeaea; position:absolute; top:50%; right:0;
transform:translateY(-50%)}
@keyframes food_ani2{
    0%{top:-5%;}
    50%{top:-4%;}
    100%{top:-5%}
}
/* footer */
footer{background-color:#494949;color:#999; font-size:0.875rem; padding:2rem 0;
}

.foot_nav{margin-bottom:1rem; font-weight:500;}
.foot_nav>li:first-child,
.foot_nav>li:nth-child(2),
.foot_nav>li:nth-child(3){float:left; padding:0 1rem;}
.foot_nav>li:nth-child(4),
.foot_nav>li:last-child{float:right; margin:0 0.4rem;}
.foot_logo{width:15%; float:left;}
.foot_txt{width:85%; float:left; margin-bottom:1rem;}
.foot_txt>p:first-child{margin-bottom:1rem;}
.foot_txt>p>span{margin:0 0.5rem;}
.foot_copy{text-align:right;}
/* mediaQuery */
@media (max-width:1280px){
html, body{font-size:14px;}
.h_logo{display:none;}  
.h_order{bottom:0; width:25%; height:calc(100% - 90px); background-color:rgba(173,53,54,0.8);
border-radius:0; padding:3% 1%;}
.h_order input, .h_order select{background-color:rgba(173,53,54,0.5);}
.ban_txt>h2{font-weight:500; font-size:2.1rem;}
footer>.container{padding:0;}
}
@media (max-width:960px){ 
    .nav_desk{display:none;}
    .desk{display:none;}
    .nav_mo{display:block;}
    header{ background-attachment:scroll; }
    .h_order{position:static; margin-top:100%; width:100%; border-bottom:2rem solid #ad3536;border-top:2rem solid #ad3536;height:auto; background-color:#ad3536;}
    .ab_food{bottom:10%; width:35%;}
    .ban_txt>h2{font-weight:500; font-size:2.5rem;}
    .nav_mo {background-color:transparent; };
    .nav_mo .gnb>li>a {color:#fff};
}
@media (max-width:768px){
    .ab_txt{font-size:1rem;}
    .ab_food{right:5%;top:90%; width:30%;}
    .wide{display:none;}
    .react{display:block;}
    #event .row>div:nth-of-type(5),
    #event .row>div:nth-of-type(6){margin-top:2%;}
    .evt_food{position:absolute; top:-9%; right:-10%; width:35%;
        animation:food_ani2 1s ease-in infinite forwards;}
        @keyframes food_ani2{
            0%{top:-8%;}
            50%{top:-9%;}
            100%{top:-8%}
        }
        .foot_logo>a>img{width:90%;}
}

@media (max-width:575px){
    #banner{padding-bottom:0;}
    .lnbs>div{margin-left:0;}
     .ab_img{width:80%; margin:0 auto;}
     #about{padding-top:3rem;}
     #about ul:nth-of-type(1)>.ab_txt,
     #about ul:nth-of-type(3)>.ab_txt,
     #about ul:nth-of-type(2)>.ab_txt{text-align:center;}   
    .ab_txt{margin:0.5rem 0;}
     .ab_food{right:1.3%;top:98.5%; width:30%;}

     @keyframes food_ani{
        0%{top:98%;}
        50%{top:98.5%;}
        100%{top:98.5%;}
    }
     .evt_food{width:30%;}
     .ab_cont>.ab_txt p>span{display:inline;}
     .ab_txt_ani{letter-spacing:0;}
     .ban_txt>p{display:none;}
     #event{background-image:none; background-color:#fff;}
     #event>.container{padding:0 15px;}
     #event .row{background-color:transparent; padding:0;}
     #event .row>div:nth-of-type(5),
     #event .row>div:nth-of-type(6){margin-top:0;}
     .evt{padding:0;}
     .evt>.evt_img>img{display:none;}
     .evt_txt{text-align:right;}
     .evt_txt>.e_btn{font-size:0.875rem;padding:0.3rem 0.8rem;}
    .evt_tit>h3{font-size:1.3rem; color:#1f282b; background-color:transparent;
    padding:0 ; margin-bottom:1%; margin-left:0.5rem; font-weight:bold;}
   .foot_logo{display:none;}
   footer>.container{padding:0 15px; text-align:center;}
   .foot_txt{width:100%;}
   .foot_copy{text-align:center;}
   .foot_nav>li:first-child,
.foot_nav>li:nth-child(2),
.foot_nav>li:nth-child(3){width:33.33%; margin-bottom:1rem; font-weight:bold; }
.foot_nav>li:nth-child(4),
.foot_nav>li:last-child{ float:none; display:inline-block; 
text-align:center;}
    }
   
@media screen and(max-width:480px){
    .ab_txt{font-size:0.875rem;} 
    .ab_cont>.ab_txt p>span{display:inline;} 
   
}